
#grid-col {
 
    display: grid;
   
    grid-template-columns: auto auto auto;

    grid-gap: 20px;
   
    /* we can also specify exact pixels, percentage, repeat
    grid-template-columns: 50px 100px 150px;
    grid-template-columns: 25% 50% 25%;
    grid-template-columns: 100px 20% auto;
    grid-template-columns: repeat(3, auto); */


  }
   
  div.cell {
    background: white;
    border: 1px solid black;
    padding: 10px;
  }
   
  @media screen and (max-width: 640px) {
    #grid-col { grid-template-columns: 100%; }
  }

body, a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.port {
    letter-spacing: 7rem;
}

.name {
    font-size: .9rem;
    font-weight: 10;
}

.about {
    background-color: antiquewhite;
}

.businessName {
    font-size: .9rem;
    font-weight: 10;
    text-align: center;
}

.businessDetails {
    font-size: .1rem;
    text-align: center;
}

.role {
    font-size: .6rem;
    text-align: center;
}

.oleanderTrading {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.bevansReal {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.perryHamilton {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.casaMadera {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.williamHamilton {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.rareAnimal {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

.yellowRoad {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
    text-align: center;
}

img {
    width:150px;
    height:150px;
}