body, a {
    font-family: 'Courier New', Courier, monospace;
    color: black;

}

svg { 
    filter: drop-shadow(8px 8px 6px gray)
}

.name {
    font-size: .9rem;
    font-weight: 10;
}

.businessName {
    font-size: .9rem;
    font-weight: 10;
}

.businessDetails {
    font-size: .1rem;
}

.role {
    font-size: .6rem;
}

.oleanderTrading {
    height: 6rem;
    line-height: .5;
    letter-spacing: .05rem;
}

.bevansReal {
    height: 6rem;
    line-height: .5;
    letter-spacing: .2rem;
}

.perryHamilton {
    height: 6rem;
    line-height: .5;
    letter-spacing: 2rem;
}

.casaMadera {
    height: 6rem;
    line-height: .5;
    letter-spacing: .3rem;
}

.williamHamilton {
    height: 6rem;
    line-height: .5;
    letter-spacing: .08rem;
}

.rareAnimal {
    height: 6rem;
    line-height: .5;
    letter-spacing: .5rem;
}

.yellowRoad {
    height: 6rem;
    line-height: .5rem;
    letter-spacing: 4rem;
}